@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat";
}

.container {
    max-width: 1345px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero {
    position: relative;
    background-color: #FED100;

}

.header {
    padding: 40px 0 63px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: block;
    text-decoration: none;
}

.logo-img {
    display: block;
}

/* .header__nav {
    width: ;
} */


.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
    margin: 0;
    padding: 0;
    list-style: none;
}



.nav__link {
    display: block;
    text-decoration: none;
    color: #333;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header__phone-link {
    color: #333;
    /* phone */
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*  first section style part */


.move {
    padding-bottom: 87px;
}

.move__list {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 0;
    list-style: none;

}

.move__item:first-child {
    width: 550px;
}

.move__item:last-child {
    width: 100%;
    height: 426px;
    background-image: url("../images/auto.png");
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: center  right;
}

.move__item img {
    position: absolute;
    top: calc(50% - 281px);
    left: calc(50% - 90px);
}

.move__title {
    margin: 0;
    margin-bottom: 6px;
    color: #333;
    /* Main Title */
    font-family: "Montserrat";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 75.83px;
    /*  */
}

.move__desc {
    display: block;
    margin-bottom: 50px;
    color: #333;
    /* Title */
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.move__link-box {
    display: inline-block;
    margin-bottom: 66px;

    width: 304px;
    padding: 16px;
    background-color: #FF352B;
    text-align: center;

}

.move__link {
    color: #F2F2F2;
    text-decoration: none;
    /* Button text */
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.move__decoration-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.decoration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #333;
    /* text */
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.4%;
    /* 21.024px */
}

.decoration__title {
    margin: 0;
    color: #333;
    /* text */
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.4%;
    /* 21.024px */
}